@model IEnumerable<WebAppMedicalAssistant_Core.DTO.FluorographyDto>

@{
    ViewData["Title"] = "Мои флюорографии";
    Layout = "_layout";
}

<h2>Мои флюорографии</h2>

<p>
    <a asp-action="Create">Добавить новую флюорографию</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата снимка
            </th>
            <th>
                Дата окончания действия снимка
            </th>
            <th>
                Номер флюорографии
            </th>
            <th>
                Результат
            </th>
            <th>
                Медицинское учреждение
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DataOfExamination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateOfSurvey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberFluorography)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem=> item.MedicalInstitutionDto.NameMedicalInstitution)
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

