@model PagingList<WebAppMedicalAssistant_Core.DTO.TransferredDiseaseDto>

@{
    ViewData["Title"] = "Моя история болезней";
    Layout = "_layout";
}

<div class="text-center">
    <h2>Моя история болезней</h2>
    <form asp-controller="TransferredDisease" asp-action="Index" method="get">
        <div class="m-1">
            Дата начала поиска: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            Дата окончания поиска: <input type="date" name="SearchDateEnd" />
        </div>
        <div class="mb-3">
            <label for="Result" class="form-check-label m-1">Показать историю за весь период:</label>
            Да <input type="radio" class="form-check-input" name="AllDates" value="false" checked="checked" />
            Нет <input type="radio" class="form-check-input" name="AllDates" value="true" />
        </div>
        <input type="submit" value="Поиск" />
    </form>
</div>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Добавить новое заболевание</a>
</p>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Название болезни
            </th>
            <th>
                Дата заболевания
            </th>
            <th>
                Дата выздоровления
            </th>
            <th>
                Вид лечения
            </th>
            <th>
                Форма протекания болезни
            </th>
            <th>Визиты к врачам</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.NameOfDisease, "DetailsTransferredDiseasePartialView", "TransferredDisease", new { id = item.Id }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfDisease)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateOfRecovery)
                </td>
                <td>
                    @if (item.TypeOfTreatment)
                    {
                        <div>Стационарно</div>
                    }
                    else
                    {
                        <div>Амбулаторно</div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.FormOfTransferredDiseaseDto)
                </td>
                <td>
                    @if(item.DoctorVisits.Any())
                    {
                        <a asp-controller="DoctorVisit" asp-action="IndexByTransferredDisease" asp-route-id="@item.Id">Смотреть визиты</a>
                    }
                    else
                    {
                        <div>Нет визитов</div>
                        <a class="btn btn-outline-success" asp-controller="DoctorVisit" asp-action="CreateWithTransferredDisease" asp-route-id="@item.Id">Добавить посещение</a>
                    }
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="TransferredDisease" asp-action="Edit" asp-route-id="@item.Id" asp-route-diseaseDtoId="@item.DiseaseId" asp-route-dateOfDisease="@item.DateOfDisease" asp-route-dateOfRecovery="@item.DateOfRecovery">Изменить</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-controller="TransferredDisease" asp-action="Delete" asp-route-id="@item.Id" asp-route-nameOfDisease="@item.NameOfDisease">Удалить</a>
                </td>

            </tr>
        }
    </tbody>
</table>
<nav>
    <vc:pager paging-list="@Model" class="page-item" />
</nav>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}
