@model WebAppMedicalAssistant_Core.DTO.AppointmentDto

@{
    ViewData["Title"] = "Моё назначение";
    Layout = "_layout";
}


<div class="container">
    <h2 class="m-1">Моё назначение</h2>

    <div id="modDialog" class="modal fade">
        <div id="dialogContent" class="modal-dialog"></div>
    </div>

    <div class="row">
        <div class="col border border-secondary rounded-3 m-1 p-1">
            @if (ViewBag.NameOfDisease != null)
            {
                <h5>Диагноз: @ViewBag.NameOfDisease</h5>
            }
            else
            {
                <h5>Диагноз не назначен</h5>
            }
            @if (Model.DescriptionOfDestination != null)
            {
                <p class=" mb-1">Рекомендации: @Model.DescriptionOfDestination</p>
                @Html.ActionLink("Рекактировать", "AddOrEditDescriptionAppointment", "DoctorVisit", new {id = Model.Id})
            }
            else
            {
                <p class=" mb-1">Рекомендации: не назначены</p>
                @Html.ActionLink("Добавить", "AddOrEditDescriptionAppointment", "DoctorVisit", new {id = Model.Id})
            }
        </div>
    </div>
    <div class="row">
        <div class="col border border-secondary rounded-3 m-1 p-1">
            <h5>Назначенные анализы:</h5>
            @if (Model.AnalysisDto.Count() != 0)
            {
                <ul>
                    @foreach (var item in Model.AnalysisDto)
                    {
                        <li>
                            @Html.ActionLink(item.NameOfAnalysis, "DetailsAnalysisPartialView", "Analysis", new { id = item.Id }, new { @class = "tempClass" })
                        </li>
                    }
                </ul>
                <div>
                    @Html.ActionLink("Добавить", "Create", "Analysis", new {id = Model.Id})
                </div>
            }
            else
            {
                <p>Нет назначенных анализов</p>
                @Html.ActionLink("Добавить", "Create", "Analysis", new {id = Model.Id})
            }
        </div>
        <div class="col border border-secondary rounded-3 m-1 p-1">
            <h5>Назначенные лекарства</h5>
            @if (Model.PrescribedMedicationsDto.Count() != 0)
            {
                <ul>
                    @foreach (var item in Model.PrescribedMedicationsDto)
                    {
                        <li>@item.MedicinesDto.NameOfMedicine</li>
                    }
                    @Html.ActionLink("Добавить", "Create", "PrescribedMedication", new {id = Model.Id})
                </ul> 
            }
            else
            {
                <p>Нет назначенных лекарств</p>
                @Html.ActionLink("Добавить", "Create", "PrescribedMedication", new {id = Model.Id})
            }
        </div>
        <div class="col border border-secondary rounded-3 m-1 p-1">
            <h5>Назначенные медицинские исследования</h5>
            @if (Model.MedicalExaminationsDto.Count() != 0)
            {
                <ul>
                    @foreach (var item in Model.MedicalExaminationsDto)
                    {
                        <li>@item.NameOfMedicalExamination</li>
                    }
                    @Html.ActionLink("Добавить", "Create", "MedicalExamination", new {id = Model.Id})
                </ul>
            }
            else
            {
                <p>Нет назначенных исследований</p>
                @Html.ActionLink("Добавить", "Create", "MedicalExamination", new {id = Model.Id})
            }
        </div>
        <div class="col border border-secondary rounded-3 m-1 p-1">
            <h4>Назначенные физиотерапии</h4>
            @if (Model.PhysicalTherapysDto.Count() != 0)
            {
                <ul>
                    @foreach (var item in Model.PhysicalTherapysDto)
                    {
                        <li>@item.NameOfPhysicalTherapy</li>
                    }
                    @Html.ActionLink("Добавить", "Create", "PhysicalTherapy", new {id = Model.Id})
                </ul>
            }
            else
            {
                <p>Нет назначенных физиотерапии</p>
                @Html.ActionLink("Добавить", "Create", "PhysicalTherapy", new {id = Model.Id})
            }
        </div>
    </div>
    <a class="btn btn-primary m-1" role="button" asp-controller="DoctorVisit" asp-action="Index">Назад</a>
</div>

@section Scripts
    {
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}

