@model PagingList<WebAppMedicalAssistant_Core.DTO.DoctorVisitDto>

@{
    ViewData["Title"] = "Мои посещения врачей";
    Layout = "_layout";
}

<h2 class="text-center">Мои посещения врачей</h2>
<div class="text-center">
    <form asp-controller="DoctorVisit" asp-action="Index" method="get">
        <div class="m-1">
            Дата начала поиска: <input type="date" name="SearchDateStart" value="@DateTime.UtcNow" />
            Дата окончания поиска: <input type="date" name="SearchDateEnd" />
        </div>
        <div class="mb-3">
            <label for="Result" class="form-check-label m-1">Показать посещения за весь период:</label>
            Да <input type="radio" class="form-check-input" name="AllDates" value="false" checked="checked" />
            Нет <input type="radio" class="form-check-input" name="AllDates" value="true" />
        </div>
        <input type="submit" value="Поиск" />
    </form>
</div>

<p>
    <a class="btn btn-outline-success" asp-action="Create">Добавить посещение</a>
</p>
<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Дата посещения
            </th>
            <th>
                Название медицинского учреждения
            </th>
            <th>
                Ф.И.О. врача
            </th>
            <th>
                История болезней
            </th>
            <th>
                Стоимость посещения
            </th>
            <th>
                Назначения
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateVisit)
                </td>
                <td>
                    @Html.ActionLink(item.MedicalInstitution.NameMedicalInstitution, "DetailsMedicalInstitutionPartialView", "MedicalInstitution",  new { id = item.MedicalInstitutionId }, new { @class = "tempClass" })
                </td>
                <td>
                    @Html.ActionLink(item.Doctor.FullNameDoctor, "DetailsDoctorPartialView",  new { id = item.DoctorId }, new { @class = "tempClass" })
                </td>
                <td>
                    @if(item.DiseaseDto != null)
                    {
                        <div>
                            @Html.ActionLink(item.DiseaseDto.NameOfDisease, "DetailsTransferredDiseasePartialView", "TransferredDisease", new { id = item.TransferredDiseaseId }, new { @class = "tempClass" })
                        </div>
                    }
                    else
                    {
                        @Html.ActionLink("Добавить историю", "Create", "TransferredDisease", new {id = item.Id})
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem=> item.PriceVisit)
                </td>
                <td>
                    @if(item.Appointment!=null)
                    {
                        @Html.ActionLink("Смотреть назначение", "Appointment", "DoctorVisit", new {id = item.Id, nameOfDisease = item.DiseaseDto?.NameOfDisease})
@*                        <a class="link-primary" href="~/DoctorVisit/Appointment/@item.Id?nameOfDisease=@item.NameOfDisease">Смотреть назначение</a>
*@                    }
                    else
                    {
                        @Html.ActionLink("Добавить назначение", "CreateAppointment", "DoctorVisit", new {id = item.Id, nameOfDisease = item.DiseaseDto?.NameOfDisease})
@*                        <a class="link-primary" href="~/DoctorVisit/CreateAppointment/@item.Id">Добавить назначение</a>
*@                    }
                </td>
                <td>
                    <a class="btn btn-outline-secondary" asp-controller="DoctorVisit" asp-action="Edit" asp-route-id="@item.Id" asp-route-dateVisit="@item.DateVisit" asp-route-nameMedicalInstitution="@item.MedicalInstitution.NameMedicalInstitution" asp-route-fullNameDoctor="@item.Doctor.FullNameDoctor" asp-route-priceVisit="@item.PriceVisit">Редактировать</a>
                </td>
                <td>
                    <a class="btn btn-outline-danger" asp-controller="DoctorVisit" asp-action="Delete" asp-route-id="@item.Id" asp-route-dateVisit="@item.DateVisit" asp-route-nameMedicalInstitution="@item.MedicalInstitution.NameMedicalInstitution" asp-route-nameOfDisease="@item.DiseaseDto?.NameOfDisease">Удалить</a>
@*                    @Html.ActionLink("Удалить", "Delete", "DoctorVisit", new {id = item.Id, dateVisit = item.DateVisit, nameMedicalInstitution = item.MedicalInstitution.NameMedicalInstitution, nameOfDisease = item.DiseaseDto?.NameOfDisease})
*@                </td>
            </tr>
        }
    </tbody>
</table>
<nav class="pagination">
    <vc:pager paging-list="@Model"/>
</nav>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/modalWindow.js" asp-append-version="true"></script>
}

