@model IEnumerable<WebAppMedicalAssistant_Core.DTO.MedicalInstitutionDto>

@{
    ViewData["Title"] = "Админ";
    Layout = "_Adminlayout";
}

<h2 class="text-center">Медицинские учреждения</h2>
<p>
    <a class="btn btn-outline-success m-1" asp-controller="MedicalInstitution" asp-action="Create">Добавить</a>
</p>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Название
                </th>
                <th>
                    Адрес
                </th>
                <th>
                    Режим работы
                </th>
                <th>
                    Контакты
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameMedicalInstitution)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OperatingMode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary m-1" asp-controller="Admin" asp-action="ShowEditMedicalInstitution" asp-route-id="@item.Id" asp-route-nameMedicalInstitution="@item.NameMedicalInstitution" asp-route-adress="@item.Adress" asp-route-operatingMode="@item.OperatingMode" asp-route-contact="@item.Contact">Редактировать</a>
                        <a class="btn btn-outline-danger m-1" asp-controller="Admin" asp-action="ShowDeleteMedicalInstitution" asp-route-id="@item.Id" asp-route-nameMedicalInstitution="@item.NameMedicalInstitution">Удалить</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
